.DS_Store
gym-master
AuthKey.txt
*.p
*.mp4
tf_detection
firstVideo.mp4
firstVideo.mp4:Zone.Identifier
.vscode/settings.json
__pycache__
*.pth
*.jpg
*.csv
.ipynb_checkpoints
*.zip
resnet18_pretrained_traffic_lights
!mobilenet_cat1-2.pth
!resnet18_for_mnclass_98.pth

#!mobilenet_points_sac.pth
#!mobilenet_points_final.pth
#!resnet18_for_mnclass_98.pth